
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTotal</title>
    <style>
        html {
            height: 100%
        }
        body {
            margin:0;
            padding:0;
            height:100%;
        }
        .leftif {
            width:40%;
            float:left;
            height:100%;
        }
        .rightif {
            width:60%;
            float:left;
            height:100%;
        }
    </style>
</head>
<body>
    <iframe class="leftif" frameborder="0" border=”0″ src="/LR_CodeDemo/Standard/Chosepdf"></iframe>
    <iframe class="rightif" frameborder="0" border=”0″ src="/LR_CodeDemo/Standard/Add"></iframe>
</body>
</html>
