@{
    ViewBag.Title = "";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <style>
        table {
        border-collapse: collapse;
        }

        table, th, td {
        border: 1px solid black;
        }
    </style>
</head>
<body>
    <?xml version="1.0" ?>
    <article>
        <section title="1总 则">
            <text>
                <p>
                    1. 0. 1为预防地铁火灾、减少地铁火灾危害，保护人身和财产的
                    安全，制定本标准。
                </p>
                <p>
                    1. 0. 2本标准适用于新建、扩建地铁和轻轨交通工程的防火
                    设计。
                </p>
                <p>
                    1. 0. 3一条线路、一座换乘年站及其相邻区间的防火设计可按同
                    一时间发生一处火灾考虑。
                </p>
                <p>
                    1. 0. 4防火设计应遵循国家有关方针政策，从全局出发，统筹兼
                    顾，做到安全适用、技术先进、经济合理。
                </p>
                <p>
                    1. 0. 5地铁和轻轨交通工程的防火设计除应符合本标准的规定
                    外；尚应符合现行国家有关标准的规定。
                </p>
                <p>.1.</p>
            </text>
        </section>
        <section title="2术 语">
            <text>
                <p>2.0.1 安全出口 safety exit</p>
                <p>
                    供人员安全疏散,并能直接通向室内外安全区域的车站出口、
                    楼梯或扶梯的出口、联络通道的入口、区间风井内直通地面的楼梯
                    间入口。
                </p>
                <p>
                    2. 0. 2点式换乘车站 :transfer-station' by cross-platform
                    站台与站台之间以一点式相交形式换乘的车站。
                </p>
                <p>
                    2. 0. 3路堑式车站、区间open cut station, track
                    浅埋地下一层;外--备自然通风和排烟条
                    件的车站、区间。
                </p>
                <p>
                    2. 0. 4联络通道cross-passageway
                    连接相邻两条单洞探讨急载客运:营:昌旷m习间、可供人员安全疏
                    散用的通道。
                </p>
                <p>
                    2.0.5 消防专用通道 fire access
                    供消防人员从地面进入站厅、站台.:区间等区域进行灭火救援
                    的专用通道和楼梯间。
                </p>
                <p>
                    2. 0. 6 纵向疏散平台 longitudinal evacuation walkway
                    在区间内平行于线路并靠站台侧设置、供人员疏散用的纵向
                    连续走道。
                </p>
                <p>.2.</p>
            </text>
        </section>
        <section title="3 总平面布局">
            <text sub_title="3.1 车站与区间">
                <p>
                    3. 1. 1 地上车站建筑的周围应设置环形消防车道,确有困难时,
                    可沿车站建筑的一个长边设置消防车道。
                </p>
                <p>
                    3. 1. 2 地下车站的出入口、风亭、电梯和消防专用通道的出入口
                    等附属建筑,地上车站00/460间.、地::氐;区间汲其敞口段(含车辆基
                    地出入线)、区间风井及.风&quot;亭等;与阔围建筑物、储罐(区)、地下油
                    管等的防火间距应符mm国家i有关对病原菌规定。
                </p>
                <p>
                    地下车站的采光窗垪芎柑邻事R面建筑芝间的防火间距应符合
                    表3. 1. 2的规定,当相邻地面建筑物的外墙为防火墙或在采光窗
                    井与地面建筑物之间～防火间距不限。
                    &apos;
                </p>
                <p>表3. 1. 2 地下车站的采光窗井与相邻地面建筑之间的防火间距(m)</p>
                <p>
                    <table>
                        <tr>
                            <th>建筑类别</th>
                            <th>单层、多层民用建筑</th>
                            <th>
                                高层民用
                                建筑
                            </th>
                            <th>
                                丙、丁、戊类
                                厂房、库房
                            </th>
                            <th>
                                甲、乙类
                                厂房、库房
                            </th>
                        </tr>
                        <tr>
                            <th>
                                建筑耐火
                                等级
                            </th>
                            <th>一、二级</th>
                            <th>三级</th>
                            <th>四级</th>
                            <th>一、二级</th>
                            <th>一、二级</th>
                            <th>三级</th>
                            <th>四级</th>
                            <th>一、二级</th>
                        </tr>
                        <tr>
                            <th>
                                地下车站的
                                采光窗井
                            </th>
                            <th>6</th>
                            <th>7</th>
                            <th>9</th>
                            <th>13</th>
                            <th>10</th>
                            <th>12</th>
                            <th>14</th>
                            <th>25</th>
                        </tr>
                    </table>
                </p>
                <p>
                    3.1. 3 地下车站的进风、排风和活塞风采用高风亭时,风口的位
                    置应符合下列规定:
                </p>
                <p>1 排风口、活塞风口应高于进风口;</p>
                <p>
                    2 进风口、排风口、活塞风口两两之间的最小水平距离不应
                    小于5m,且不宜位于同一方向。
                </p>
                <p>3. 1. 4 采用敞口低风井的进风井、排风井和活塞风井,风井之间、</p>
                <p>.3.</p>
                <p>风井与出入口之间的最小水平距离应符合下列规定:</p>
                <p>1 进风井与排风井、活塞风井之间不应小于 10m;</p>
                <p>』</p>
                <p>2 活塞风井之间或活塞风井与排风井之间不应小于5m;</p>
                <p>3 排风井、活塞风井与车站出入口之间不应小于 10m;</p>
                <p>4 排风井、活塞风井与消防专用通道出入口之间不应小</p>
                <p>于5m。</p>
                <p>
                    3. 1. 5 采用敞口低风井的排风井、活塞风井宜设置在地下车站出
                    入口、进风井的常年主导风向的下风侧。
                </p>
                <p>
                    3. 1. 6 独立建造的消防水泵房应符合现行国家标准《建筑设计防
                    火规范》GB 50016的规定。地上车站的消防水泵房宜布置在首
                    层,当布置在其他楼层时;应靠近安全出口;地下车站的消防水泵
                    房应布置在站厅层及以上楼层,并宜布置在站厅层设备管理区内
                    的消防专用通道附近。.
                </p>
            </text>
            <text sub_title="3.2 控制中心与主变电所">
                <p>
                    3. 2.1 独立建造的控制中心、地上主变电所应设置环形消防车
                    道,确有困难时;可沿建筑的一个长边设置消防车道。
                </p>
                <p>
                    3. 2. 2 控制中心宜独立建造,不应与商业、娱乐等人员密集的场
                    所合建,并应避开易燃、易爆场所;确需与其他建筑合建时,控制中
                    心应采用无门窗洞口的防火墙与建筑的其他部分分隔。
                    .
                    3. 2. 3 主变电所应独立建造。
                </p>
            </text>
            <text sub_title="3.3 车辆基地">
                <p>
                    3. 3. 1 车辆基地应避免设置在甲、乙类厂(库)房和甲、乙、丙类液
                    体、可燃气体储罐及可燃材料堆场附近。
                </p>
                <p>
                    3. 3. 2 车辆基地的总平面布置应以车辆段(停车场)为主体,根据
                    功能需要及地形条件合理确定基地内各建筑的位置、防火间距、运
                    输道路和消防水源等。
                </p>
                <p>3. 3. 3 车辆基地内的消防车道除应符合现行国家标准《建筑设计</p>
                <p>.40</p>
                <p>防火规范》GB 50016的规定外,尚应符合下列规定:</p>
                <p>1 车辆基地内应设置不少于2条与外界道路相通的消防车</p>
                <p>道,并应与基地内各建筑的消防车道连通成环形消防车道。消防</p>
                <p>车道不宜与列车进入咽喉区前的出入线平交。</p>
                <p>2 停车库、列检库、停车列检库、运用库、联合检修库、物资总</p>
                <p>.</p>
                <p>库及易燃物品库周围应设置环形消防车道。</p>
                <p>3 停车库、列检库、停车列检库、运用库、联合检修库每线列</p>
                <p>位在两列或两列以上时,宜在列位之间沿横向设置可供消防车通</p>
                <p>行的道路;当库房的各自总宽度大于 150m时,应在库房的中间沿</p>
                <p>纵向设置可供消防车通行的道路。</p>
                <p>3.3.4 车辆基地不宜设置在地下。当车辆基地的停车库、列检</p>
                <p>库、停车列检库、运用库、联合检修库等设置在地下时;应在地下设</p>
                <p>置环形消防车道;当库房的总宽度不大于75m时;可沿库房的一</p>
                <p>条长边设置地下消防车道,但尽头式消防车道应设置回车道或回</p>
                <p>车场,回车场的面积不应小于 15m×15m。</p>
                <p>地下消防车道与停车库、列检库、停车列检库、运用库、联合检</p>
                <p>修库之间应采用耐火极限不低于3. 00h的防火墙分隔。防火墙上</p>
                <p>应设置消防救援入口;入口处应采用乙级防火门等进行分隔。</p>
                <p>3. 3. 5 易燃物品库应独立布置,并应按存放物品的不同性质分库</p>
                <p>设置。</p>
                <p>、</p>
                <p>.5o</p>
            </text>
        </section>
        <section title="4 建筑的耐火等级与防火分隔">
            <text sub_title="4.1 一般规定">
                <p>.</p>
                <p>4.1. 1 下列建筑的耐火等级应为一级:</p>
                <p>1 地下车站及其出入口通道、风道;</p>
                <p>2 地下区间、联络通道、区间风井及风道;</p>
                <p>3 控制中心;</p>
                <p>4 主变电所;</p>
                <p>5 易燃物品库、油漆库;</p>
                <p>6 地下停车库、列检库、停车列检库、运用库、联合检修库及</p>
                <p>其他检修用房。</p>
                <p>4. 1. 2 下列建筑的耐火等级不应低于二级:</p>
                <p>,</p>
                <p>1 地上车站及地上区间;</p>
                <p>2 地下车站出入口地面厅、风亭等地面建(构)筑物;</p>
                <p>
                    4
                    3 运用库、检修库、综合维修中心的维修综合楼、物质总库的
                </p>
                <p>库房、调机库、牵引降压混合变电所、洗车机库(棚)、不落轮镟库、</p>
                <p>工程车库和综合办公楼等生活辅助建筑。</p>
                <p>4. 1. 3 地下车站的风道、区间风井及其风道等的围护结构的耐火</p>
                <p>极限均不应低于3. 00h,区间风井内柱、梁、楼板的耐火极限均不</p>
                <p>,</p>
                <p>应低于2. 00h。</p>
                <p>4. 1.4 车站(车辆基地)控制室(含防灾报警设备室)、变电所、配</p>
                <p>电室、通信及信号机房、固定灭火装置设备室、消防水泵房、废水泵</p>
                <p>房、通风机房、环控电控室、站台门控制室、蓄电池室等火灾时需运</p>
                <p>作的房间r应分别独立设置,并应采用耐火极限不低于2. 00h的防</p>
                <p>火隔墙和耐火极限不低于 1. 50h的楼板与其他部位分隔。</p>
                <p>4. 1. 5 车站内的商铺设置以及与地下商业等非地铁功能的场所</p>
                <p>.6.</p>
                <p>相邻的车站应符合下列规定:</p>
                <p>
                    1 站台层、站厅付费区、站厅非付费区的乘客疏散区以及用
                    于乘客疏散的通道内,严禁设置商铺和非地铁运营用房。
                </p>
                <p>
                    2 在站厅非付费区的乘客疏散区外设置的商铺;不得经营和
                    储存甲、乙类火灾危险性的商品,不得储存可燃性液体类商品。每
                    个站厅商铺的总建筑面积不应大于 100m2,单处商铺的建筑面积
                    不应大于30m2。商铺应采用耐火极限不低于2. 00h的防火隔墙
                    或耐火极限不低于3. 00h的防火卷帘与其他部位分隔;商铺内应
                    设置火灾自动报警和灭火系统。
                </p>
                <p>
                    3 在站厅的上层或下层设置商业等非地铁功能的场所时,站
                    厅严禁采用中庭与商业等非地铁功能的场所连通;在站厅非付费
                    区连通商业等非地铁功能场所的楼梯或扶梯的开口部位应设置耐
                    火极限不低于3. 00h的防火卷帘;防火卷帘应能分别由地铁、商业
                    等非地铁功能的场所控制,楼梯或扶梯周围的其他临界面应设置
                    防火墙。
                </p>
                <p>
                    在站厅层与站台层之间设置商业等非地铁功能的场所时:站
                    台至站厅的楼梯或扶梯不应与商业等非地铁功能的场所连通,楼
                    梯或扶梯穿越商业等非地铁功能的场所的部位周围应设置无门窗
                    洞口的防火墙c
                </p>
                <p>
                    4. 1. 6 在站厅公共区同层布置的商业等非地铁功能的场所,应采
                    用防火墙与站厅公共区进行分隔,相互间宜采用下沉广场或连接
                    通道等方式连通,不应直接连通。下沉广场的宽度不应小于 13m;
                    连接通道的长度不应小于 10m、宽度不应大于8m,连接通道内应
                    设置2道分别由地铁和商业等非地铁功能的场所控制且耐火极限
                    均不低于3. 00h的防火卷帘。
                </p>
                <p>&apos;</p>
                <p>
                    4. 1. 7 车辆基地建筑的上部不宜设置其他使用功能的场所或建
                    筑,确需设置时,应符合下列规定:
                </p>
                <p>
                    1 车辆基地与其他功能场所之间应采用耐火极限不低于
                    3. 00h的楼板分隔;
                </p>
                <p>.7.</p>
                <p>
                    2 车辆基地建筑的承重构件的耐火极限不应低于3. 00h,楼
                    板的耐火极限不应低于2. 00h。
                </p>
            </text>
            <text sub_title="4.2 地下车站">
                <p>
                    4. 2. 1 站台和站厅公共区可划分为同一个防火分区,站厅公共区
                    的建筑面积不宜大于5000m2
                </p>
                <p>
                    4. 2. 2 站厅设备管理区应与站厅、站台公共区划分为不同的防火
                    分区,设备管理区每个防火分区的最大允许建筑面积不应大于
                </p>
                <p>
                    1500m2。消防水泵房、污水和废水泵房、厕所、盥洗、茶水、清扫等
                    房间的建筑面积可不计入所在防火分区的建筑面积。
                </p>
                <p>
                    4. 2. 3 地下一层侧式站台与&quot;同层站厅公共区可划为同一个防火
                    分区,但站台上任一点至车站直通地面的疏散通道口的最大距离
                    不应大于50m;当大于50m时,应在与同层站厅的邻接面处或站
                    厅的适当位置采用耐火极限不低于2. 00h的防火隔墙等进行分隔。
                    4. 2. 4 上、下重叠平行站台的车站应符合下列规定:
                </p>
                <p>
                    1 下层站台穿越上层站台至站厅的楼梯或扶梯,应在上层站
                    台的楼梯或扶梯开口部位设置耐火极限不低于2. 00h的防火
                    隔墙;
                </p>
                <p>.</p>
                <p>
                    2 上、下层站台之间的联系楼梯或扶梯,除可在下层站台的
                    楼梯或扶梯开口处人员上下通行的部位采用耐火极限不低于
                </p>
                <p>
                    3. 00h的防火卷帘等进行分隔外,其他部位应设置耐火极限不低
                    于2. 00h的防火隔墙。
                </p>
                <p>
                    4. 2. 5 多线同层站台平行换乘车站的各站台之间应设置耐火极
                    限不低于2. 00h的纵向防火隔墙,该防火隔墙应延伸至站台有效
                    长度外不小于 10m。
                </p>
                <p>
                    4. 2. 6 点式换乘车站站台之间的换乘通道和换乘梯,除可在下层
                    站台的通道或楼梯或扶梯口处人员上下通行的部位采用耐火极限
                    不低于3. 00h的防火卷帘等进行分隔外,其他部位应设置耐火极
                    限不低于2. 00h的防火隔墙。
                    .8.
                </p>
                <p>
                    4。2. 7 侧式站台与同层站厅换乘车站,除可在站台连接同层站厅
                    的通道口部位采用耐火极限不低于3. 00h的防火卷帘等进行分隔
                    外,其他部位应设置耐火极限不低于3. 00h的防火墙。
                </p>
                <p>
                    4. 2. 8 通道换乘车站的站间换乘通道两侧应设置耐火极限不低
                    于2. 00h的防火隔墙,通道内应采用2道耐火极限均不低于
                    3. 00h的防火卷帘等进行分隔。
                </p>
                <p>
                    4. 2. 9 站厅层位于站台层下方时,除可在站厅至站台的楼梯或扶
                    梯开口处人员上下通行的部位采用耐火极限不低于3. 00h的防火
                    卷帘等进行分隔外,其他部位应设置耐火极限不低于2. 00h的防
                    火隔墙。
                </p>
                <p>
                    4. 2. 10 在站厅层与站台层之间设置地铁设备层时,站台至站厅的
                    楼梯或扶梯穿越设备层的部位周围应设置无门窗洞口的防火墙。
                </p>
                <p>
                    4. 2. 1l 站台与站厅公共区之间除上下楼梯或扶梯的开口外,不
                    应设置其他上下连通的开口。
                </p>
            </text>
            <text sub_title="4.3 地上车站">
                <p>
                    4.3.1 站厅公共区每个防火分区的最大允许建筑面积不宜大
                    于5000m2。
                </p>
                <p>
                    4. 3. 2 站厅设备管理区应与站台、站厅公共区划分为不同的防火
                    分区,设备管理区每个防火分区的最大允许建筑面积不应大于
                </p>
                <p>
                    2500m2;对于建筑高度大于24m的高架车站,其设备管理区每个
                    防火分区的最大允许建筑面积不应大于 1500m2。
                </p>
                <p>
                    4. 3. 3 站厅位于站台上方且站台层不具备自然排烟条件时,除可
                    在站台至站厅的楼梯或扶梯开口处人员上下通行的部位采用耐火
                    极限不低于3. 00h的防火卷帘等进行分隔外,其他部位应设置耐
                    火极限不低于2. 00h的防火隔墙。
                </p>
            </text>
            <text sub_title="4. 4 控制中心与主变电所">
                <p>4. 4.1 中央控制室应远离电源室、隔离变室、高压配电室等火灾</p>
                <p>.9.</p>
                <p>危险性大的房间,中央控制室内不得穿越与指挥调度无关的管线。</p>
                <p>
                    4. 4. 2 设置在应急指挥室与中央控制室之间的观察窗,应采用甲
                    级防火玻璃窗。
                </p>
                <p>
                    4. 4. 3 控制中心的设备用房宜集中布置,并应采用耐火极限不低
                    于2. 00h的防火隔墙和耐火极限不低于 1. 50h的楼板与其他部位
                    进行分隔。
                </p>
                <p>
                    4.4. 4 除直接开向室外的门外,变压器室、补偿装置室、蓄电池
                    室、电缆夹层、配电装置室的门以及配电装置室中间隔墙上的门均
                    应采用甲级防火门。
                </p>
                <p>
                    4. 4. 5 主变电所的消防控制设备应设置在主变电所有人值守的
                    控制室内。
                </p>
            </text>
            <text sub_title="4.5 车辆基地">
                <p>4. 5. 1 油漆库及其预处理库宜独立建造,且应符合下列规定:</p>
                <p>
                    l 油漆存放间、漆工间、干燥间等房间应采用防火墙和甲级
                    防火门与其他部位分隔;
                </p>
                <p>
                    2 油漆库及其预处理库的屋顶或门、窗的泄压面积应符合要
                    求,应采用不发火花的地面;
                </p>
                <p>
                    3 油漆库及其预处理库内不应设办公室、休息室或更衣室等
                    用房;
                </p>
                <p>
                    4 油漆库及其预处理库中的设备坑内应采取降低气雾浓度
                    的措施;
                </p>
                <p>
                    5 当油漆库与联合检修库合建时,应布置在联合检修库外墙
                    一侧,并应采用无门窗洞口的防火墙与联合检修库分隔。
                </p>
                <p>
                    4. 5. 2 酸性蓄电池充电间宜独立建造,不应与值班室或其他经常
                    有人的场所相邻布置;当与其他建筑合建时,应靠外墙单层设置,
                    并应采用防火墙与其他部位隔开,当防火墙上必须设置门、窗时;
                    应采用甲级防火门、窗。
                    4. 5. 3 运用库内的运转办公区宜单独划分防火分区。
                </p>
                <p>. 10.</p>
                <p>
                    4. 5. 4 地下停车库、列检库、停车列检库、运用库和联合检修库等
                    场所应单独划分防火分区,每个防火分区的最大允许建筑面积不
                    应大于6000m2;当设置自动灭火系统时,每个防火分区的最大允
                    许建筑面积不限。
                </p>
                <p>
                    4. 5. 5 地上停车库、列检库、停车列检库、运用库和联合检修库等
                    场所的防火分区划分应符合现行国家标准《建筑设计防火规范》
                    GB 50016的规定。
                </p>
                <p>,</p>
                <p>.11.</p>
            </text>
        </section>
        <section title="5 安全疏散">
            <text sub_title="5.1 一般规定">
                <p>
                    5. 1.1 站台至站厅或其他安全区域的疏散楼梯、自动扶梯和疏散
                    通道的通过能力3应保证在远期或客流控制期中超高峰小时最大
                    客流量时,一列进站列车所载乘客及站台上的候车乘客能在4min
                    内全部撤离站台,并应能在6min内全部疏散至站厅公共区或其
                    他安全区域。
                    5. 1. 2 乘客全部撤离站台的时间应满足下式要求:
                </p>
                <p>式中:Q1-远期或客流控制期中超高峰小时最大客流量时一列</p>
                <p>进站列车的载客人数(人);</p>
                <p>Q2-远期或客流控制期中超高峰小时站台上的最大候车</p>
                <p>乘客人数(人);</p>
                <p>Al-一台自动扶梯的通过能力[人/(min.台)];</p>
                <p>A2-单位宽度疏散楼梯的通过能力[人/(min. rn)];</p>
                <p>N-用作疏散的自动扶梯的数量(台);I</p>
                <p>B-疏散楼梯的总宽度(rn) (每组楼梯的宽度应按0. 55rn</p>
                <p>的整倍数计算)。</p>
                <p>
                    5. 1.3 在公共区付费区与非付费区之间的栅栏上应设置平开疏
                    散门。自动检票机和疏散门的通过能力应满足下式要求:
                </p>
                <p>式中:A3-自动检票机门常开时的通过能力(人/min);</p>
                <p>A4-单位宽度疏散门的通过能力[人/(min. m)];</p>
                <p>L-疏散门的净宽度(m) (按0. 55rn的整倍数计算)。</p>
                <p>. 12.</p>
                <p>
                    5.1.4 每个站厅公共区应至少设置2个直通室外的安全出口。
                    安全出口应分散布置r且相邻两个安全出口之间的最小水平距离
                    不应小于20m。换乘车站共用一个站厅公共区时,站厅公共区的
                    安全出口应按每条线不少于2个设置。
                </p>
                <p>
                    5. 1. 5 每个站台至站厅公共区的楼扶梯分组数量不宜少于列车
                    编组数的 1/3,且不得少于2个。
                </p>
                <p>
                    5. 1. 6 电梯、竖井爬梯、消防专用通道以及管理区的楼梯不得用
                    作乘客的安全疏散设施。
                </p>
                <p>
                    5. 1. 7 站台设备管理区可利用站台公共区进行疏散,但有人值守
                    的设备管理区应至少设置一个直通室外的安全出口。
                </p>
                <p>
                    5.1.8 站台的两端部均应设置从区间疏散至站台的楼梯。当站
                    台设置站台门时,站台门的端门应向站台公共区方向开启。
                </p>
                <p>
                    5.1. 9 站台每侧站台门上的应急门数量宜按列车编组数确定。
                    当应急门设置在站台计算长度内的设备管理区和楼梯、扶梯段内
                    时;应核算侧站台在应急门开启时的通过能力。
                </p>
                <p>
                    5. 1. 10 站厅公共区和站台计算长度内任一点到疏散通道口和疏
                    散楼梯口或用于疏散的自动扶梯口的最大疏散距离不应大
                    于50m。
                </p>
                <p>
                    5. 1. 11 站厅公共区与商业等非地铁功能的场所的安全出口应各
                    自独立设置。两者的连通口和上、下联系楼梯或扶梯不得作为相
                    互间的安全出口。
                </p>
                <p>
                    5。1. 12 当站台至站厅和站厅至地面的上、下行方式采用自动扶
                    梯时,应增设步行楼梯。
                </p>
                <p>
                    5. 1. 13 乘客出入口通道的疏散路线应各自独立,不得重叠或设
                    置门槛、有碍疏散的物体及袋形走道。两个或以上汇入同一条疏
                    散通道的出入口,应视为一个安全出口。
                </p>
            </text>
            <text sub_title="5.2 地下车站">
                <p>5. 2. 1 有人值守的设备管理区内每个防火分区安全出口的数量</p>
                <p>. 1-3.</p>
                <p>-</p>
                <p>
                    不应少于2个,并应至少有 1 个安全出口直通地面。当值守人员
                    小于或等于3人时;设备管理区可利用与相邻防火分区相通的防
                    火门或能通向站厅公共区的出口作为安全出口。
                </p>
                <p>
                    5. 2. 2 地下一层侧式站台车站,每侧站台应至少设置2个直通地
                    面或其他室外空间的安全出口。与站厅公共区同层布置的站台应
                    符合下列规定:
                </p>
                <p>
                    l 当站台与站厅公共区之间设置防火隔墙时,应在该防火隔
                    墙上设置至少2个门洞,相邻两门洞之间的最小水平距离不应小
                    于 10m;
                </p>
                <p>
                    2 当站台与站厅公共区之间未设置防火隔墙时,站台上任一
                    点至地.面或其他室外空间的疏散时间不应大于6min。
                </p>
                <p>
                    5. 2. 3 侧式站台利用站台之间的过轨地道作为安全疏散通道时,
                    应在上、下行轨道之间设置耐火极限不低于2. 00h的防火隔墙。
                </p>
                <p>
                    5. 2. 4 站台端部通向区间的楼梯不得用作站台区乘客的安全疏
                    散设施。换乘车站的换乘通道、换乘梯不得用作乘客的安全疏散
                    设施。
                </p>
                <p>
                    5. 2. 5 有人值守的设备管理用房的疏散门至最近安全出口的距
                    离,当疏散门位于2个安全出口之间时,不应大于40m;当疏散门
                    位于袋形走道两侧或尽端时,不应大于22m。
                </p>
                <p>
                    5. 2.6 出入口通道的长度不宜大于 100m;当大于 100m时,应增
                    设安全出口,且该通道内任一点至最近安全出口的疏散距离不应
                    大于50m。
                    5. 2. 7 设备层的安全出口应独立设置。
                </p>
                <p>
                    5. 2.8 地下车站应设置消防专用通道。当地下车站超过3层(含
                    3层)时,消防专用通道应设置为防烟楼梯间。
                </p>
            </text>
            <text sub_title="5.3 地上车站">
                <p>
                    5.3.1 站厅通向天桥的出口可作为安全出口,且应符合下列
                    规定:
                </p>
                <p>. 14.</p>
                <p>
                    l 应采用不燃材料制作,内部装修材料的燃烧性能应为
                    A级;
                </p>
                <p>2 应具有良好的自然排烟条件;</p>
                <p>3 不得用于人行外的其他用途;</p>
                <p>.</p>
                <p>4 应能直接通至地面。</p>
                <p>
                    5. 3. 2 换乘车站的换乘通道和换乘梯应采用不燃材料制作,其装
                    修材料的燃烧性能应为A级;当换乘通道和换乘梯具有良好的自
                    然排烟条件时,换乘车站通向该换乘通道或换乘梯的出口可作为
                    安全出口。
                </p>
                <p>
                    5. 3. 3 地面侧式站台车站的过轨地道可作为疏散通道,上跨轨道
                    的通道不得作为疏散通道。
                </p>
                <p>
                    5. 3. 4 设备管理区内房间的疏散门至最近安全出口的疏散距离
                    应符合现行国家标准《建筑设计防火规范》GB 50016的规定。
                </p>
                <p>
                    5.3. 5 与区间纵向疏散平台相连通的站台的安全出口,可利用站
                    台门上能双向开启的端门。
                </p>
                <p>
                    5.3. 6 建筑高度超过24m且相连区间未设纵向疏散平台的高架
                    车站,应在站台增设直达地面的疏散楼梯。
                </p>
            </text>
            <text sub_title="5.4区 间">
                <p>
                    5. 4. 1 载客运营轨道区的道床面应平整、连续、无障碍物,并应满
                    足人员疏散行走的要求。
                </p>
                <p>
                    5. 4. 2 两条单线载客运营地下区间之间应设置联络通道,相邻两
                    条联络通道之间的最小水平距离不应大于600m,通道内应设置一
                    道并列二樘且反向开启的甲级防火门。
                    5. 4. 3 载客运营地下区间内应设置纵向疏散平台。
                </p>
                <p>
                    5. 4. 4 单洞双线载客运营地下区间的线路间宜设置耐火极限不
                    低于3. 00h的防火墙;不设置防火墙且不能敷设排烟道(管)时,在
                    地下区间内应每隔800m设置一个直通地面的疏散井,井内的楼
                    梯间应采用防烟楼梯间。
                </p>
                <p>. 15.</p>
                <p>
                    5. 4. 5 当地下区间利用区间风井进行疏散时,风井内应设置直达
                    地面的防烟楼梯间。
                </p>
                <p>
                    5. 4. 6 列车客室门应设置手动紧急解锁装置;需行驶于地下区间
                    的列车的车头和车尾节应设置疏散门,各节车厢之间应贯通。
                </p>
                <p>
                    5. 4. 7 区间两端采用侧式站台车站的载客运营地上区间,应设置
                    纵向疏散平台;区间两端采用岛式站台车站的地上载客运营区间,
                    应在上、下行线路之间设置纵向疏散平台,并应符合下列规定:
                </p>
                <p>
                    1 对于上、下行线合一的载客运营地上区间,当列车车头、车
                    尾节设置疏散门,且各节车厢相互贯通或车辆侧门设置乘客下到
                    道床面的设施时,可不设置纵向疏散平台。
                </p>
                <p>
                    2 对于上、下行线分开的单向载客运营地上区间,当列车车
                    头、车尾节设置疏散门,且各节车厢相互贯通时,可不设置纵向疏
                    散平台。
                </p>
            </text>
            <text sub_title="5. 5 控制中心、主变电所与车辆基地">
                <p>
                    5. 5. 1 中央控制室的安全出口不应少于2个,室内的设备布置应
                    方便人员安全疏散。
                </p>
                <p>
                    5. 5. 2 建筑面积大于250rn2的控制室和配电装置室、补偿装置
                    室、电缆夹层应至少设置2个安全出口,并宜布置在设备室的两
                    端。建筑长度大于60rn的配电装置室,应在其中间适当部位增设
                    1 个安全出口。
                </p>
                <p>
                    5. 5. 3 地下停车库、列检库、停车列检库、运用库和联合检修库等
                    场所内每个防火分区的安全出口不应少于2个,并应符合下列
                    规定:
                </p>
                <p>
                    1 当室内外高差不大于 10m,平面上有2个或2个以上的防
                    火分区相邻布置时,每个防火分区可利用一个设置在防火墙上并
                    通向相邻防火分区的甲级防火门作为第二个安全出口,但必须至
                    少设置 1 个直通室外的安全出口。
                </p>
                <p>2 采光竖井或进风竖井内设置直通地面的疏散楼梯,且通向</p>
                <p>. 16.</p>
                <p>
                    竖井处设置常闭甲级防火门的防火分区,可设置另一个通向室外
                    或避难走道的安全出口。
                </p>
                <p>
                    5. 5. 4 地下停车库、列检库、停车列检库、运用库和联合检修库的
                    室内最远一点至最近安全出口的疏散距离不应大于45m;当设置
                    自动灭火系统时,不应大于60m。
                </p>
                <p>
                    5. 5. 5 车辆基地和其建筑上部其他功能场所的人员安全出口应
                    分别独立设置,且不得相互借用。
                </p>
            </text>
            <text sub_title="5.6 疏散指示标志">
                <p>
                    5. 6. 1 站台和站厅公共区、人行楼梯及其转角处、自动扶梯、疏散
                    通道及其转角处、防烟楼梯间、消防专用通道、安全出口、避难走
                    道、设备管理区内的走道和变电所的疏散通道等,均应设置电光源
                    型疏散指示标志。
                </p>
                <p>
                    5. 6. 2 站台和站厅公共区内的疏散指示标志应设置在柱面或墙
                    面上;标志的上边缘距地面不应大于 1m、间距不应大于20m且不
                    应大于两跨柱间距;在这些标志相对应位置的吊顶下宜增设疏散
                    指示标志,其下边缘距地面不应小于2. 2m,上边缘距吊顶面不应
                    小于0. 5m。
                </p>
                <p>
                    5. 6.3 安全出口和疏散通道出口处的疏散指示标志应设置在门
                    洞边缘或门洞的上部,标志的上边缘距吊顶面不应小于0. 5m,下
                    边缘距地面不应小于2m。
                </p>
                <p>
                    5. 6. 4 疏散通道两侧及转角处的疏散指示标志应设置在墙面上,
                    标志的上边缘距地面不应大于 1m、间距不应大于 10m,通道转角
                    处的标志间距不应大于 1m;在这些标志相对应位置的吊顶下宜增
                    设疏散指示标志;其下边缘距地面不应小于2. 2m。设备管理区疏
                    散走道内的疏散指示标志间距不应大于 10m。
                </p>
                <p>
                    5. 6. 5 自动扶梯起点侧面及人行楼梯起步的3阶踏步立面处,宜
                    增设蓄光型疏散指示标志。
                </p>
                <p>5. 6. 6 地下区间纵向疏散平台上应设置疏散指示标志和与疏散</p>
                <p>. 17.</p>
                <p>
                    出口的距离标识。疏散指示标志和疏散出口的距离标识应设置在
                    疏散平台的侧墙上,不应侵占疏散平台宽度,间距不宜大于 15m。
                </p>
                <p>
                    5. 6. 7 地下区间之间的联络通道的洞口上部,应垂直于门洞设置
                    具有双面标识常亮的疏散指示标志。
                </p>
                <p>
                    5。6. 8 疏散指示标志应设置在不被遮挡的醒目位置,不应设置在
                    可开启的门、窗和其他可移动的物体上。疏散指示标志的图形及
                    其文字的尺寸应与空间大小及标志的设置间距匹配。
                </p>
                <p>. 18.</p>
            </text>
        </section>
        <section title="6 建筑构造">
            <text sub_title="6.1 防火分隔设施">
                <p>
                    6.1.1 在所有管线(道)穿越防火墙、防火隔墙、楼板、电缆通道
                    和管沟隔墙处,均应采用防火封堵材料紧密填实。在难燃或可
                    燃材质的管线(道)穿越防火墙、防火隔墙、楼板处,应在墙体或
                    楼板两侧的管线(道)上采取防火封堵措施。在管道穿越防火
                    墙、防火隔墙、楼板处两侧各 1. 0m范围内的管道保温材料应采
                    用不燃材料。
                </p>
                <p>
                    6.1.2 电缆至建筑物的入口或配电间和控制室的沟道入口处、
                    电缆引至电气柜(盘)或控制屏的开孔部位,应采取防火封堵
                    措施。
                </p>
                <p>
                    6. 1. 3 防火墙上、防烟楼梯间和避难走道的前室入口处、联络通
                    道处的门均应采用甲级防火门,防火隔墙上的门、管道井的检查门
                    及其他部位的疏散门均应采用乙级防火门。
                </p>
                <p>
                    6. 1. 4 疏散门及消防专用出入口、联络通道和区间风井处的防火
                    门,应保证火灾时不需使用钥匙等工具即能向疏散方向开启;并应
                    在显著位置设置标识和使用提示。
                </p>
                <p>
                    6. 1. 5 设置在建筑变形缝附近的防火门,门扇启闭时不应骑跨变
                    形缝。
                </p>
                <p>.</p>
                <p>
                    6. 1. 6 在过往列车及隧道通风的正、负压力作用下,区间风井内
                    防烟楼梯间前室和联络通道处的防火门不应自动开启。
                    6. 1. 7 防火墙上的窗口应采用固定式甲级防火窗。
                </p>
                <p>
                    6. 1. 8 防火隔墙上的窗口应采用固定式乙级防火窗,必须设置活
                    动式防火窗时,应具备火灾时能自动关闭的功能。
                    6. 1. 9 乘客的疏散通道上不应设置防火卷帘。
                </p>
                <p>. 19.</p>
                <p>.</p>
            </text>
            <text sub_title="6. 2 自动扶梯、楼梯间、管道井与纵向疏散平台">
                <p>6. 2. 1 火灾时兼作疏散用的自动扶梯应符合下列规定:</p>
                <p>1 应按一级负荷供电;</p>
                <p>2 应采用不燃材料制造;</p>
                <p>3 应能在事故时保持运行;</p>
                <p>4 平时运行方向应与人员的疏散方向一致;</p>
                <p>
                    5 自动扶梯的下部空间与其他部位之间应采取防火分隔
                    措施; .
                </p>
                <p>
                    6 暴露在室外环境的自动扶梯应采取防滑措施;位于寒冷或
                    严寒地区时,应采取防冰雪积聚和防冻的措施。
                </p>
                <p>
                    6. 2. 2 封闭楼梯间和防烟楼梯间的防火构造要求应符合现行国
                    家标准《建筑设计防火规范》GB 50016的规定。
                </p>
                <p>
                    6. 2.3 电缆井、管道井应分别独立设置。电缆井、管道井的井壁
                    均应采用耐火极限不低于 1. 00h的不燃性实体墙。
                    6. 2. 4 区间纵向疏散平台应符合下列规定:
                </p>
                <p>
                    1 单侧临空时,平台的宽度不宜小于0. 6m;双侧临空时;平
                    台的宽度不宜小于0. 9m。
                </p>
                <p>2 平台的设置高度宜低于车辆地板面0. 10m～0. 15m。</p>
                <p>3 靠区间壁的墙上应设置靠墙扶手,高度宜为0. 9m。</p>
                <p>4 纵向疏散平台面标高与联络通道地坪标高宜接平。</p>
                <p>5 疏散平台的耐火极限不应低于 1. 00h.=</p>
                <p>.</p>
            </text>
            <text sub_title="6.3 建筑内部装修">
                <p>
                    6. 3. 1 地上车站公共区的墙面和顶棚装修材料的燃烧性能均应
                    为A级,满足自然排烟条件的车站公共区,其地面装修材料的燃
                    烧性能不应低于B1级。
                </p>
                <p>
                    6. 3. 2 休息室、更衣室、卫生间等场所,其顶棚装修材料的燃烧性
                    能均应为A级,墙面、地面装修材料的燃烧性能均不应低于B1级。
                </p>
                <p>o 20.</p>
                <p>
                    除架空地板的燃烧性能可为B1级外,设备管理区用房的顶棚、墙
                    面、地面装修材料的燃烧性能均应为A级。
                </p>
                <p>
                    6. 3. 3 中央控制室、应急指挥室、控制中心的顶棚和墙面装修材
                    料的燃烧性能均应为A级,地面、隔断、调度台椅、窗帘及其他装
                    饰材料的燃烧性能均不应低于B1级。
                </p>
                <p>
                    6. 3.4 除地面绝缘材料外,主变电所室内装修材料的燃烧性能应
                    为A级。
                </p>
                <p>
                    6. 3. 5 除不燃性墙面和地面的饰面涂层外,停车库、列检库、停车
                    列检库、运用库和联合检修库、物资库等建筑内部装修材料的燃烧
                    性能均应为A级。
                </p>
                <p>
                    6. 3. 6 站厅、站台、人员出入口、疏散楼梯及楼梯间、疏散通道、避
                    难走道、联络通道等人员疏散部位和消防专用通道,其墙面、地面、
                    顶棚及隔断装修材料的燃烧性能均应为A级,但站台门的绝缘层
                    和地上具有自然排烟条件的房间地面装修材料的燃烧性能可为
                    B1级。
                    6. 3. 7 疏散通道和疏散楼梯的地面材料应具有防滑特性。
                </p>
                <p>
                    6. 3. 8 广告灯箱、导向标志、座椅、电话亭、售检票亭(机)等固定
                    设施的燃烧性能均不应低于B1级,垃圾箱的燃烧性能应为A级。
                </p>
                <p>
                    6. 3. 9 车站内使用的玻璃应采用安全玻璃。在设备管理区设置
                    的玻璃门、窗,其耐火性能不应低于该防火分隔部位的耐火性能
                    要求。
                </p>
                <p>
                    6.3.10 室内装修材料不得采用石棉制品、玻璃纤维和塑料类
                    制品。
                </p>
                <p>. 21 .</p>
            </text>
        </section>
        <section title="7 消防给水与灭火设施">
            <text sub_title="7.1 一般规定">
                <p>7. 1. 1 除高架区间外,地铁工程应设置室内外消防给水系统。</p>
                <p>
                    7. 1. 2 消防用水宜由市政给水管网供给,也可采用消防水池或天
                    然水源供给。利用天然水源时,应保证枯水期最低水位时的消防
                    用水要求,并应设置可靠的取水设施。
                </p>
                <p>-</p>
                <p>
                    7. 1。3 室内消防给水应采用与生产、生活分开的给水系统。消防
                    给水应采用高压或临时高压给水系统。当室内消防用水量达到最
                    大流量时,其水压应满足室内最不利点灭火系统的要求,消防给水
                    管网应设置防超压设施。
                </p>
                <p>
                    7. 1. 4 消防用水量应按车站或地下区间在同一时间内发生一次
                    火灾时的室内外消防用水量之和计算,并应符合下列规定:
                </p>
                <p>
                    1 地铁建筑内设置消火栓系统、自动喷水灭火系统等灭火设
                    施时,其室内消防用水量应按同时开启的灭火系统用水量之和
                    计算; .
                </p>
                <p>
                    2 控制中心和车辆基地的消防用水量应符合现行国家标准
                    《消防给水及消火栓系统技术规范》GB 50974的规定。
                </p>
                <p>
                    7. 1. 5 自动喷水灭火系统的管网宜与室内消火栓系统的管网分
                    开设置。
                </p>
                <p>
                    7. 1. 6 地铁工程地下部分室内外消火栓系统的设计火灾延续时
                    间不应小于2. 00h,地上建筑室内外消火栓系统的设计火灾延续
                    时间应符合现行国家标准《消防给水及消火栓系统技术规范》GB
                </p>
                <p>
                    50974的规定,自动喷水灭火系统的设计火灾延续时间应符合现
                    行国家标准《自动喷水灭火系统设计规范》GB 50084的规定。
                </p>
                <p>
                    7. 1. 7 地下车站和设置室内消火栓系统的地上建筑应设置消防
                    . 22.
                </p>
                <p>水泵接合器,并应符合下列规定:</p>
                <p>
                    l 消防水泵接合器的数量应按室内消防用水量经计算确定,
                    每个消防水泵接合器的流量应按 10L/s～15L/s计算;
                </p>
                <p>
                    2 消防水泵接合器应设置在室外便于消防车取用处,地下车
                    站宜设置在出入口或风亭附近的明显位置,距离室外消火栓或消
                    防水池取水口宜为 15m～40m;
                </p>
                <p>
                    3 消防水泵接合器宜采用地上式,并应设置相应的永久性固
                    定标识,位于寒冷和严寒地区应采取防冻措施。
                </p>
            </text>
            <text sub_title="7.2 室外消火栓系统">
                <p>
                    7. 2。1 除地上区间外,地铁车站及其附属建筑、车辆基地应设置
                    室外消火栓系统。
                </p>
                <p>
                    7. 2. 2 地下车站的室外消火栓设置数量应满足灭火救援要求,且
                    不应少于2个,其室外消火栓设计流量不应小于20L/s。
                </p>
                <p>
                    7. 2. 3 地上车站、控制中心等地上建筑和地上、地下车辆基地的
                    室外消火栓设计流量,应符合现行国家标准《消防给水及消火栓系
                    统技术规范》GB 50974的规定。
                </p>
                <p>
                    7. 2.4 主变电所的室外消火栓设计流量不应小于表7. 2. 4的
                    规定。
                </p>
                <p>表7. 2. 4&apos; 主变电所的室外消火栓设计流 </p>
                <p>
                    <table>
                        <tr>
                            <th>主变电所体积(m3)</th>
                            <th>￡1500</th>
                            <th>1501～3000</th>
                            <th>3001～5000</th>
                            <th>5001～20000</th>
                            <th>20001~ 50000</th>
                        </tr>
                        <tr>
                            <th>设计流量(L/s)</th>
                            <th>10</th>
                            <th>15</th>
                            <th>20</th>
                            <th>25</th>
                            <th>30</th>
                        </tr>
                    </table>
                </p>
                <p>
                    7. 2. 5 车站消防给水系统的进水管不应少于2条,并宜从两条市
                    政给水管道引入,当其中一条进水管发生故障时,另一条进水管应
                    仍能保证全部消防用水量;当车站周边仅有一条市政枝状给水管
                    道时,应设置消防水池。
                </p>
                <p>
                    7. 2. 6 车辆基地的室外消防给水系统宜与生产、生活给水管道合
                    并,当生产、生活用水量达到最大小时用水量时,合并的给水管道
                </p>
                <p>. 23.</p>
                <p>系统仍应能保证全部消防用水量。</p>
                <p>
                    7.2.7 室外消火栓宜采用地上式。地上式消火栓应有 1 个
                    DN150或DN100和2个DN65 的栓口,地下式消火栓应有
                    DN100和DN65的栓口各 1 个。位于寒冷和严寒地区时;室外
                    消火栓应采取防冻措施。室外消火栓应设置相应的永久性固定
                    标识。
                </p>
                <p>
                    7. 2. 8 室外消火栓的布置间距不应大于 120m,每个消火栓的保
                    护半径不应大于 150m。检修阀之间的消火栓数量不应大于5个。
                </p>
            </text>
            <text sub_title="7.3 室内消火栓系统">
                <p>
                    7. 3. 1 车站的站厅层、站台层、设备层、地下区间及长度大于30m
                    的人行通道等处均应设置室内消火栓。
                </p>
                <p>
                    7. 3. 2 地下车站的室内消火栓设计流量不应小于20L/s。地下
                    车站出入口通道、地下折返线及地下区间的室内消火栓设计流量
                    不应小于 10L/s。
                </p>
                <p>
                    7. 3. 3 地上车站、控制中心等地上建筑和地上、地下车辆基地的
                    室内消火栓用水量,应符合现行国家标准《消防给水及消火栓系统
                    技术规范》GB 50974的规定。
                </p>
                <p>
                    7.3.4 主变电所的室内消火栓设计流量不应小于表7. 3. 4的
                    规定。
                </p>
                <p>表7.3.4 主变电所的室内消火栓设计流量</p>
                <p>
                    <table>
                        <tr>
                            <th>主变电所高度、体积</th>
                            <th>
                                消火栓
                                用水量
                                (L/s)
                            </th>
                            <th>
                                同时使用
                                水枪数量
                                (L/s)
                            </th>
                            <th>
                                每支水枪
                                最小流量
                                (L/s)
                            </th>
                            <th>
                                每根竖管
                                最小流量
                                (L/s)
                            </th>
                        </tr>
                        <tr>
                            <th>高度≤24m,体积≤10000m3)</th>
                            <th>5</th>
                            <th>2</th>
                            <th>2.5</th>
                            <th>5</th>
                        </tr>
                        <tr>
                            <th>高度≤24rn,体积&gt;10000m3</th>
                            <th>25</th>
                            <th>5</th>
                            <th>5</th>
                            <th>15</th>
                        </tr>
                    </table>
                </p>
                <p>c 24.</p>
                <p>7. 3. 5 室内消火栓的布置应符合下列规定;</p>
                <p>
                    l 消火栓的布置应保证每个防火分区同层有两支水枪的充
                    实水柱同时到达任何部位,水枪的充实水柱不应小于 10m;
                </p>
                <p>
                    2 消火栓的间距应经计算确定,且单口单阀消火栓的间距不
                    应大于30m,两只单口单阀为一组的消火栓间距不应大于50m,地
                    下区间及配线区内消火栓的间距不应大于50m,人行通道内消火
                    栓的间距不应大于20m;
                </p>
                <p>
                    3 站厅层、侧式站台层和车站设备管理区宜设置单口单阀消
                    火栓,岛式站台层宜设置两只单口单阀为一组的消火栓;
                </p>
                <p>
                    4 除地下区间外,消火栓箱内应配备水带、水枪和消防软管
                    卷盘;
                </p>
                <p>
                    5 地下区间可不设置消火栓箱,但应将水带、水枪等配套消
                    防设施设置在车站站台层端部的专用消防箱内,并应有明显标
                    志;
                </p>
                <p>6 消火栓口距离地面或操作基本面宜为 1. 1m;</p>
                <p>
                    7 消火栓口处的出水动压力大于0. 7MPa时,应设置减压
                    措施。
                    7. 3. 6 室内消防给水管道的布置应符合下列规定:
                </p>
                <p>1 车站和地下区间的消火栓给水管道应连成环状;</p>
                <p>
                    2 地下区间上、下行线应各从地下车站引入一根消防给水
                    管,并宜在区间中部连通,且在车站端部应与车站环状管网相接;
                </p>
                <p>
                    3 室内消防给水管道应采用阀门分成若干独立管段,阀门的
                    布置应保证检修管道时关闭停用消火栓的数量不大于5个;
                </p>
                <p>
                    4 消防给水管道上的阀门应保持常开状态,并应有明显的启
                    闭标志;
                </p>
                <p>
                    5 在寒冷和严寒地区,站厅与室外连通部分的明露消防给水
                    管道应采取防冻措施或采用于式系统;
                </p>
                <p>
                    6 当车站、区间采用临时高压给水系统时,车站控制室及消
                    火栓处应设置消火栓的水泵启动按钮。
                </p>
                <p>. 25.</p>
            </text>
            <text sub_title="7.4 自动灭火系统与其他灭火设施">
                <p>7. 4. 1 下列场所应设置自动喷水灭火系统:</p>
                <p>
                    l 建筑面积大于6000m2的地下、半地下和上盖设置了其他
                    功能建筑的停车库、列检库、停车列检库、运用库、联合检修库;
                </p>
                <p>2 可燃物品的仓库和难燃物品的高架仓库或高层仓库。</p>
                <p>7. 4. 2 下列场所应设置自动灭火系统:</p>
                <p>
                    l 地下车站的环控电控室、通信设备室(含电源室)、信号设
                    备室(含电源室)、公网机房、降压变电所、牵引变电所、站台门控制
                    室、蓄电池室、自动售检票设备室;
                </p>
                <p>
                    2 地下主变电所的变压器室、控制室、补偿装置室、配电装置
                    室、蓄电池室、接地电阻室、站用变电室等;
                </p>
                <p>
                    3 控制中心的综合监控设备室、通信机房、信号机房、自动售
                    检票机房、计算机数据中心、电源室等无人值守的重要电气设备
                    用房。
                </p>
                <p>
                    7. 4.3 除区间外,地铁工程内应配置建筑灭火器。车站内的公共
                    区、设备管理区、主变电所和其他有人值守的设备用房设置的灭火
                    器,应按现行国家标准《建筑灭火器配置设计规范》GB 50140规定
                    的严重危险级配置。
                </p>
            </text>
            <text sub_title="7. 5 消防水泵与消防水池">
                <p>
                    7. 5. 1 当市政给水管网能满足消防用水量要求,但供水压力不能
                    满足设计消防供水压力要求时,应设置消防水泵。消防水泵宜从
                    市政给水管网取水加压,并应在消防进水管的起端设置倒流防止
                    器或其他能防止倒流污染的装置。
                </p>
                <p>
                    7. 5. 2 当市政给水管网的供水量不能满足设计消防用水量要求
                    时,应设置消防水池、消防水泵及增压装置。
                </p>
                <p>
                    7. 5. 3 地面车站、高架车站采用消防水泵加压供水的消火栓给水
                    系统;应设置稳压装置及气压设备:可不设置高位水箱。
                    o 26.
                </p>
                <p>7. 5. 4 从给水管网直接吸水的消防水泵,其扬程计算应按市政给</p>
                <p>水管网的最低水压计,并以室外给水管网的最高水压校核管网</p>
                <p>压力。</p>
                <p>7. 5. 5 当市政供水压力不能保证自动喷水灭火系统最不利点的</p>
                <p>工作压力或不能满足消火栓给水系统最不利点的静水压力时,车</p>
                <p>站及地铁附属建筑的消防给水系统应设置增压装置。对于无法利</p>
                <p>用市政给水管网的压力进行稳压的临时高压系统,应设置稳压泵</p>
                <p>和稳压罐。室内消火栓给水系统和自动喷水灭火系统的稳压罐的</p>
                <p>有效容积均不应小于 150L。</p>
                <p>,</p>
                <p>7. 5. 6 消火栓系统和自动喷水灭火系统的消防水泵均应设置备</p>
                <p>用泵,其工作能力不应小于其中最大一台消防水泵的要求。</p>
                <p>7. 5. 7 符合下列情况之一时,车辆基地应设置消防水池:</p>
                <p>l 当生产、生活用水量达到最大时,市政给水管网的进水管</p>
                <p>或天然水源不能满足室内外消防用水量;</p>
                <p>2 市政给水管网为枝状或只有 1 条进水管,且室内外消防用</p>
                <p>水量之和大于20L/s或建筑高度大于50m;</p>
                <p>3 市政给水管网的流量小于车辆基地内一次火灾需要的室</p>
                <p>内外消防给水设计流量。</p>
                <p>&#32;</p>
                <p>. 27 C</p>
            </text>
        </section>
        <section title="8 防烟与排烟">
            <text sub_title="8.1 一般规定">
                <p>8. 1. 1 下列场所应设置排.烟设施:</p>
                <p>l 地下或封闭车站的站厅、站台公共区;</p>
                <p>
                    2 同一个防火分区内总建筑面积大于200m2的地下车站设
                    备管理区,地下单个建筑面积大于50m2且经常有人停留或可燃物
                    较多的房间; 一
                </p>
                <p>3 连续长度大于一列列车长度的地下区间和全封闭车道;</p>
                <p>
                    4 车站设备管理区内长度大于20m的内走道,长度大于
                    60m的地下换乘通道、连接通道和出入口通道。
                </p>
                <p>
                    8. 1. 2 防烟楼梯间及其前室、避难走道及其前室应设置防烟设
                    施。地下车站设置机械加压送风系统的封闭楼梯间、防烟楼梯间
                    宜在其顶部设置固定窗,但公共区供乘客疏散、设置机械加压送风
                    系统的封闭楼梯间、防烟楼梯间顶部应设置固定窗。
                    8. 1. 3 防烟、排烟系统的设计应符合下列规定:
                </p>
                <p>
                    1 当对站厅公共区进行排烟时,应能防止烟气进入出入口通
                    道、换乘通道、站台、连接通道等邻近区域;
                </p>
                <p>
                    2 当对站台公共区进行排烟时,应能防止烟气进入站厅、地
                    下区间、换乘通道等邻近区域;
                </p>
                <p>
                    3 当对地下区间进行纵向控烟时,应能控制烟流方向与乘客
                    疏散方向相反,并应能防止烟气逆流和进入相邻车站、相邻区间;
                </p>
                <p>
                    4 对于设置自动灭火系统的设备用房,其防烟或排烟系统的
                    控制应能满足自动灭火系统有效灭火的需要。
                </p>
                <p>
                    8. 1. 4 机械防烟系统和机械排烟系统可与正常通风系统合用,合
                    用的通风系统应符合防烟、排烟系统的要求,且该系统由正常运转
                </p>
                <p>. 28.</p>
                <p>模式转为防烟或排烟运转模式的时间不应大于 180s。</p>
                <p>
                    8. 1. 5 站厅公共区和设备管理区应采用挡烟垂壁或建筑结构划
                    分防烟分区,防烟分区不应跨越防火分区。站厅公共区内每个防
                    烟分区的最大允许建筑面积不应大于2000rn2,设备管理区内每个
                    防烟分区的最大允许建筑面积不应大于750m2。
                </p>
                <p>
                    8. 1. 6 公共区楼扶梯穿越楼板的开口部位、公共区吊顶与其他场
                    所连接处的顶棚或吊顶面高差不足0. 5m的部位应设置挡烟垂壁。
                </p>
                <p>
                    8. 1. 7 挡烟垂壁或划分防烟分区的建筑结构应为不燃材料且耐火
                    极限不应低于0. 50h,凸出顶棚或封闭吊顶不应小于0. 5m。挡烟垂
                    壁的下缘至地面、楼梯或扶梯踏步面的垂直距离不应小于2. 3m。
                </p>
            </text>
            <text sub_title="8. 2 车站、控制中心、主变电所与车辆基地">
                <p>
                    8. 2. 1 地上车站宜采用自然排烟方式,其中不符合自然排烟要求
                    的场所应设置机械排烟设施。
                </p>
                <p>
                    8. 2. 2 采用自然排烟的车站或路堑式车站,外墙上方或顶盖上可
                    开启排烟口的有效面积不应小于所在场所地面&quot;面积的2%,且区
                    域内任一点至最近自然排烟口的水平距离不应大于30m。常闭的
                    自然排烟口(窗)应设置自动和手动开启的装置。
                    8. 2. 3 地下车站公共区的排烟应符合下列规定:
                </p>
                <p>
                    1 当站厅发生火灾时&quot;应对着火防烟分区排烟,可由出入口
                    自然补风,补风通路的空气总阻力应符合本标准第8. 2. 6条的规
                    定;当不符合本标准第8. 2. 6条的规定时,应设置机械补风系统。
                </p>
                <p>
                    2 当站台发生火灾时,应对站台区域排烟,并宜由出入口、站
                    厅补风。
                </p>
                <p>
                    3 车站公共区发生火灾、驶向该站的列车需要越站时,应联
                    动关闭全封闭站台门。
                    8. 2. 4 排烟风机及风管的风量应符合下列规定:
                </p>
                <p>
                    1 排烟量应按各防烟分区的建筑面积不小于60rn3/(rn2 . h)
                    分别计算;
                </p>
                <p>. 29.</p>
                <p>
                    2 当防烟分区中包含轨道区时.应拧列车设计火灾规模计算
                    排烟量;
                </p>
                <p>
                    3 地下站台的排烟量除应符合本条第 1 款、第2款的要求外,还
                    应保证站厅到站台的楼梯或扶梯口处具有不小于 1. 5m/s的向下气流;
                </p>
                <p>
                    4 排烟风机的风量应按所负担的防烟分区中最大一个防烟
                    分区的排烟量、风管(道)的漏风量及其他防烟分区的排烟口或排
                    烟阀的漏风量之和计算;
                </p>
                <p>5 排烟风机的风量不应低于7200m3/h。</p>
                <p>8. 2. 5 机械排烟系统中的排烟口和排烟阀的设置应符合下列规定:</p>
                <p>1 排烟口和排烟阀应按防烟分区设置;</p>
                <p>
                    2 防烟分区内任一点至最近排烟口的水平距离不应大于
                    30m,当室内净高大于6m时,该距离可增加至37. 5m;
                </p>
                <p>
                    3 排烟口底边距挡烟垂壁下沿的垂直距离不应小于0. 5m,
                    水平距离安全出口不应小于3. 0m;
                </p>
                <p>4 排烟口的风速不宜大于7m/s;</p>
                <p>
                    5 正常为关闭状态的排烟口和排烟阀,应能在火灾时联动自
                    动开启;
                </p>
                <p>
                    6 建筑面积小于或等于50m2且需要机械排烟的房间;其排
                    烟口可设置在相邻走道内。
                    8. 2. 6 排烟区应采取补风措施,并应符合下列规定:
                </p>
                <p>
                    1 当补风通路的空气总阻力不大于50Pa时,可采用自然补
                    风方式,但应保证火灾时补风通道畅通;
                </p>
                <p>
                    2 当补风通路的空气总阻力大于50Pa时;应采用机械补风方
                    式,且机械补风的风量不应小于排烟风量的50%,不应大于排烟量;
                </p>
                <p>
                    3 补风口宜设置在与排烟空间相通的相邻防烟分区内;当补
                    风口与排烟口设置在同一防烟分区内时;补风口应设置在室内净
                    高 l/2以下,水平距离排烟口不应小于 10m。
                </p>
                <p>
                    8. 2. 7 车辆基地的地下停车库、列检库、停车列检库、运用库、联
                    合检修库、镟轮库、工程车库等场所应设置排烟系统。
                    . 30.
                </p>
                <p>8. 2. 8 设置自动灭火系统的设备房应符合下列规定:</p>
                <p>
                    l 在穿越该房间开设风口的通风管上;应设置动作温度为
                    70℃的防火阀;
                </p>
                <p>2 防火阀应能与自动灭火系统的启动联动关闭;</p>
                <p>
                    3 当灭火介质的相对密度大于 1 时,排风口应设置在该房间
                    的下部。
                </p>
                <p>
                    8. 2. 9 排烟风机应与排烟口(阀)联动;当任何一个排烟口(阀)开
                    启或排风口转为排烟口时;系统应能自动转为排烟状态;当烟气温
                    度大于280℃时,排烟风机应与风机入口处或干管上的防火阀关
                    闭联动关闭。
                </p>
            </text>
            <text sub_title="8.3区 间">
                <p>
                    8. 3. 1 地下区间的排烟宜采用纵向通风控制方式,采用纵向通风
                    方式确有困难的区段;可采用排烟道(管)进行排烟。地下区间的
                    排烟尚应符合下列规定:
                </p>
                <p>
                    l 采用纵向通风时,区间断面的排烟风速不应小于2m/s,不
                    得大于 11m/s;
                </p>
                <p>
                    2 正线区间的通风方向应与乘客疏散方向相反,列车出入线、
                    停车线等无载客轨道区间的通风方向应能使烟气尽快排至室外。
                </p>
                <p>
                    8. 3. 2 地下区间的排烟应考虑相邻区间及出入线、渡线、联络线
                    等对着火区间气流的不利影响。
                </p>
                <p>8. 3. 3 地下区间内排烟射流风机宜备用一组&quot;且不宜吊装在隧道上方。</p>
                <p>
                    8. 3. 4 两座车站之间正常同时存在两列或两列以上列车同向运
                    行的地下区间,排烟时应能使非着火列车处于无烟区。
                </p>
                <p>
                    8. 3。5 设置隔声罩的地上区间和路堑式地下区间的排烟应采用
                    自然排烟方式。自然排烟口的设置应符合下列规定:
                </p>
                <p>
                    1 排烟口应设于区间外墙上方或顶板上,有效面积不应小于
                    该区间水平投影面积的5%;
                </p>
                <p>2 常闭的自然排烟口应设置自动和手动开启装置。</p>
                <p>. 31 .</p>
            </text>
            <text sub_title="8.4 排烟设备与管道">
                <p>
                    8. 4. 1 排烟风机宜设置在排烟区的同层或上层,并宜与补风机、加压
                    送风机分别设置在不同的机房内;排烟管道宜顺气流方向向上坡或水
                    平敷设。地下车站的排烟风机确需与补风机、加压送风机共用机房
                    时,设置在机房内的排烟管道及其连接件的耐火极限不应低于 1. 50h。
                </p>
                <p>8.4. 2 地下车站的排烟风机在280℃时应能连续工作不小于</p>
                <p>
                    1. 0h,地上车站和控制中心及其他附属建筑的排烟风机在280℃
                    时应能连续工作不小于0. 5h。
                </p>
                <p>
                    8. 4. 3 地下区间的排烟风机的运转时间不应小于区间乘客疏散
                    所需的最长时间,且在280℃时应能连续工作不小于 lh。
                </p>
                <p>
                    8. 4. 4 排烟系统中烟气流经的风阀、消声器和软接头等辅助设
                    备,其耐高温性能不应低于风机的耐高温性能。
                </p>
                <p>
                    8. 4. 5 火灾时需要运行的风机,从静态转换为事故状态所需时间
                    不应大于30s,从运转状态转换为事故状态所需时间不应大于60s。
                </p>
                <p>.</p>
                <p>
                    8. 4. 6 火灾时用于风机的保护装置不应影响风机的排烟功能。
                    8. 4. 7 用于防烟与排烟的管道、风口与阀门应符合下列规定:
                </p>
                <p>l 管道、风口与阀门应采甲不燓材料割作;</p>
                <p>
                    2 排烟管道不应穿越前室或楼梯间;必须穿越时:管道的耐
                    火极限不应低于2. 00h。
                </p>
                <p>
                    8. 4. 8 除承担轨行区域的防排烟系统外,其他区域的防排烟系统管
                    道应采用金属或其他非土建井道。金属防烟或排烟风管道内的风速
                    不应大于20m/s,非金属防烟或排烟管道内的风速不应大于 15m/s。
                </p>
                <p>
                    8. 4. 9 除隧道通风系统外,下列部位应设置防火阀,防火阀的动
                    作温度应根据风管的用途确定;
                </p>
                <p>1 垂直风管与每层水平风管相接处的水平管段上;</p>
                <p>2 排烟风机的入口处;</p>
                <p>3 风管穿越防火分区的防火墙和楼板处;</p>
                <p>4 风管穿越有隔墙的变形缝处。</p>
                <p>. 32 :</p>
                <p>.</p>
            </text>
        </section>
        <section title="9 火灾自动报警">
            <text sub_title="9.1 一般规定">
                <p>
                    9. 1.1 车站、地下区间、区间变电所及系统设备用房、主变电所、
                    控制中心、车辆基地应设置火灾自动报警系统。
                </p>
                <p>
                    9. 1. 2 正常运行工况需控制的设备,应由环境与设备监控系统直
                    接监控;火灾工况专用的设备.应由火灾白动报警系统直接监控。
                </p>
                <p>
                    9. 1. 3 正常运行与火灾工况均需控制的设备,平时可由环境与设
                    备监控系统直接监控,火灾时应能接收火灾自动报警系统指令,并
                    应优先执行火灾自动报警系统确定的火灾工况。
                </p>
                <p>
                    9. 1. 4 换乘车站的火灾自动报警系统宜集中设置,按线路设置的
                    火灾自动报警系统之间应能相互传输并显示状态信息。
                </p>
                <p>
                    9. 1。5 车辆基地上部设置其他功能的建筑时,两者的控制中心应
                    能实现信息互通。
                </p>
                <p>
                    9. 1. 6 地铁工程的火灾自动报警系统应由中央级、车站级或车辆
                    基地级、现场级火灾自动报警系统及相关通信网络组成。
                </p>
            </text>
            <text sub_title="9.2 监控管理">
                <p>
                    9. 2. 1 中央级火灾自动报警系统,应具备显示全线火灾报警信息
                    和对全线消防设备实行集中控制、故障报警、信息显示、查询打印
                    等功能,并应靠近行车调度设置在控制中心的中央控制室内。中
                    央控制室内的综合显示屏上应能显示全线的火灾信息。
                </p>
                <p>
                    9. 2. 2 车站级火灾自动报警系统,应具备对其所管辖范围内车站
                    和相邻区间的消防设备实行监控管理、故障报警、信息显示、查询
                    打印及信息上传控制中心等功能,并应设置在车站控制室内。主
                    变电所宜设置区域报警控制盘,并应纳入邻近车站统一管理。
                </p>
                <p>. -3-3.</p>
                <p>
                    9. 2. 3 车辆基地级火灾自动报警系统应具备对其所辖范围独立
                    执行消防监控管理,显示整个车辆基地火灾报警信息和对本辖区
                    进行消防控制、故障报警、信息显示、查询打印及信息上传控制中
                    心等功能,并应设置消防控制室。
                </p>
                <p>
                    9. 2. 4 车辆基地的消防控制室宜设置在综合楼或停车列检库等
                    的办公区域内。消防控制室内应设置火灾报警控制器、图形显示
                    终端、打印机等设备,在重要库房或办公区域内应设置区域火灾报
                    警控制器,其他建筑的火灾报警设备和消防联动设备均应纳入邻
                    近的区域火灾报警控制器中。
                </p>
                <p>
                    9. 2. 5 控制中心建筑内的火灾自动报警系统应设置消防控制室。
                    消防控制室宜与控制中心建筑的监控室合设,但应能对其所辖范
                    围独立执行消防监控管理。
                </p>
                <p>
                    9. 2. 6 现场级火灾自动报警系统网络应独立设置,并应在总线回
                    路中设置短路隔离器,回路中每只总线短路隔离器隔离的火灾探
                    测器、手动火灾报警按钮和模块等消防设备的总数不宜大于
                    32个。
                </p>
                <p>
                    9. 2. 7. 设置在控制中心、车站、车辆基地的火灾报警控制器,应通
                    过骨干信息传输网络连通。骨干信息传输网络宜采用独立的光纤
                    网络或公共传输网络专用通道。
                </p>
            </text>
            <text sub_title="9.3 火灾探测器">
                <p>9. 3. 1 下列场所应设置火灾探测器,并宜选用感烟火灾探测器:</p>
                <p>l 车站公共区;</p>
                <p>2 车站的设备管理区内的房间、电梯井道上部;</p>
                <p>
                    3 地下车站设备管理区内长度大于20m的走道、长度大于
                    60m的地下连通道和出入口通道;
                </p>
                <p>4 主变电所的设备间;</p>
                <p>
                    5 车辆基地的综合楼、信号楼、变电所和其他设备间、办
                    公室。
                </p>
                <p>. 34.</p>
                <p>9. 3. 2 防火卷帘两侧应设置感烟火灾探测器。</p>
                <p>9. 3. 3 茶水间应设置火灾探测器,并宜采用感温火灾探测器。</p>
                <p>
                    9。3. 4 站台下的电缆通道、变电所电缆夹层的电缆桥架上应设置
                    火灾探测器,并宜采用线型感温火灾探测器。
                </p>
                <p>
                    9. 3. 5 车辆基地的停车库、列检库、停车列检库、运用库、联合检
                    修库及物资库等库房应设置火灾探测器,其中的大空间场所宜采
                    用吸气式空气采样探测器、红外光束感烟火灾探测器及可视烟雾
                    图像探测器等。
                </p>
            </text>
            <text sub_title="9.4 报警及警报装置">
                <p>9. 4. 1 下列部位应设置带地址的手动报警按钮:</p>
                <p>
                    1 车站公共区、设备管理区、车辆基地内的设备区和办公区、
                    主变电所;
                </p>
                <p>2 地下区间纵向疏散平台的侧壁上;</p>
                <p>3 其他长度大于30m的封闭疏散通道。</p>
                <p>9. 4. 2 车站内的消火栓箱旁应设置带地址的手动报警按钮。</p>
                <p>9. 4. 3 车站公共区和设备管理区内应设置火灾报警警铃。</p>
                <p>
                    9. 4. 4 火灾报警警铃应设置在走道靠近楼梯出口处和经常有人
                    工作的部位。
                </p>
            </text>
            <text sub_title="9.5 消防联动控制">
                <p>.</p>
                <p>
                    9. 5. 1 消防控制设备宜采用集中控制方式,其动作状态信号应能
                    在消防控制室显示、记录。消防水泵、专用防烟和排烟风机的控制
                    设备应具有自动控制和手动控制方式。
                </p>
                <p>9. 5. 2 防烟和排烟系统的控制应能在火灾确认后实现下列功能:</p>
                <p>
                    1 控制防烟和排烟风机、排烟阀、防火阀,并接收其状态反馈
                    信息;
                </p>
                <p>
                    2 直接向环境与设备监控系统发出报警信息及模式指令,由
                    环境与设备监控系统自动启动防烟和排烟与正常通风合用的设备
                </p>
                <p>. 35.</p>
                <p>转入火灾控制模式,并接收模式控制反馈信息;</p>
                <p>
                    3 根据控制中心确定的地下区间乘客疏散方向&quot;直接向环境
                    与设备监控系统发出报警信息及模式指令,由环境与设备监控系
                    统自动控制区间两端的事故风机及其风阀转入火灾控制模式;并.
                    接收模式控制反馈信息。
                </p>
                <p>
                    9. 5. 3 站台门的联动开启应由车站控制室值班人员确认后.人-工
                    控制。自动检票机的联动控制应能联动控制自动检票机的释放,
                    并应能接收自动检票机的状态反馈信息。
                    9.5. 4 门禁的联动控制应符合下列规定:
                </p>
                <p>
                    1 火灾自动报警系统应能将火灾信息发送至门禁系统;由门
                    禁系统控制门解禁;
                </p>
                <p>2 门禁系统应能在车站控制室或消防控制室内手动控制;</p>
                <p>3 当供电中断时,1门禁系统应能自动解禁。</p>
                <p>
                    9. 5. 5 电梯应能在火灾时通过火灾自动报警系统或环境与设备
                    监控系统联动控制返至疏散层,火灾自动报警系统或环境与设备
                    监控系统应能接收电梯的状态反馈信息,不应直接控制站厅内自
                    动扶梯的启停。
                </p>
                <p>. 36.</p>
            </text>
        </section>
        <section title="10 消防通信">
            <text>
                <p>
                    10. 0. 1 消防通信应包括消防专用电话、防灾调度电话、消防无线
                    通信、视频监视及消防应急广播。
                </p>
                <p>
                    10. 0. 2 控制中心应具有全线消防救援、调度指挥和上一级防灾
                    指挥中心联网的功能。
                </p>
                <p>
                    10. 0. 3 控制中心防灾调度应设置 119专用直拨电话、广播系统
                    操作终端和视频监视系统独立的监视器及操作终端,车站和车辆
                    基地的消防控制室或值班室等处应设置可直接报警的直拨电话。
                    10. 0. 4 地铁全线应设置独立的消防专用电话系统,其设置应符
                    合下列规定:
                </p>
                <p>
                    1 控制中心的消防值班室、车站控制室、车辆基地的消防控
                    制(值班)室应设置消防专用电话总机;
                </p>
                <p>
                    2 消防水泵房、变配电室、通风和排烟机房及其他与消防联
                    动控制有关的机房、自动灭火系统手动操作装置及区域报警控制
                    器或显示器处,应设置消防专用电话分机;
                </p>
                <p>
                    3 手动火灾报警按钮和消火栓按钮等的设置部位应设置电
                    话插孔,电话插孔应按区域采用共线方式接入消防专用电话总机。
                </p>
                <p>
                    10. 0.5 地铁全线应设置防灾调度电话系统和防灾无线通信系
                    统,其设置应符合下列规定:
                </p>
                <p>
                    l 防灾调度电话、无线通信总机(台)应设置在控制中心防灾
                    调度;
                </p>
                <p>
                    2 各车站、主变电所、车辆基地防灾值班室应设置防灾调度
                    分机和无线手持台;
                </p>
                <p>
                    3 防灾无线通信系统应满足消防救援需要,且其无线信号应
                    覆盖地铁全线范围。
                </p>
                <p>. 37.</p>
                <p>
                    10. 0. 6 地下线应设置消防无线引入系统;其设置应符合下列
                    规定:
                </p>
                <p>1 消防无线引入信号应覆盖地铁全线范围;</p>
                <p>
                    2 消防无线引入系统的制式应与地面消防无线通信系统保
                    持一致,并应符合当地消防部门的要求;
                </p>
                <p>
                    3 消防无线引入系统应至少提供-3个信道,并应提供集中网
                    管界面。
                </p>
                <p>
                    10. 0. 7 车站、主变电所、车辆基地应设置消防应急广播系统;并
                    宜与运营广播合用。站厅、站台、通道等公共区和设备管理区用房
                    应设置消防应急广播扬声器。
                </p>
                <p>10. 0. 8 与运营广播合用的消防应急广播系统应符合下列规定:</p>
                <p>
                    1 广播系统应具有优先级处理,且消防应急广播应具有最高
                    优先级;
                </p>
                <p>
                    2 控制中心防灾调度台可对全线各车站进行遥控开关机、选
                    站、选区广播或全线统一广播,并应具有接收各车站工作状态的反
                    馈信息和同步录音功能;
                </p>
                <p>
                    3 车站防灾值班员可同时对本车站或分区、分路进行广播,
                    并应设置自动、手动和紧急三种广播模式;
                </p>
                <p>
                    4 广播系统的功率放大器应每台对应一路负载,并应进行
                    n+1 配置,备机可自动或手动切换。
                </p>
                <p>
                    10. 0. 9 车辆客室应设置供乘客与司机或控制中心紧急对讲的装
                    置,并应设置明显的告示牌。
                </p>
                <p>.38.</p>
            </text>
        </section>
        <section title="11 消防配电与应急照明">
            <text sub_title="11.1 消防配电">
                <p>
                    l1.1.1 地铁的消防用电负荷应为一级负荷c 其中,火灾自动报
                    警系统、环境与设备监控系统、变电所操作电源和地下车站及区间
                    的应急照明用电负荷应为特别重要负荷。
                </p>
                <p>
                    11. 1. 2 火灾自动报警系统、环境与设备监控系统、消房泵及消防
                    水管电保温设备、通信、信号、变电所操作电源、站台门、防火卷帘、
                    活动挡烟垂壁、自动灭火系统、事故疏散兼用的自动扶梯、地下车站
                    及区间的废水泵等应采用双重电源供电,并应在最末一级配电箱处
                    进行自动切换。其中,火灾自动报警系统、环境与设备监控系统、变
                    电所操作电源和地下车站及区间的应急照明电源应增设应急电源。
                </p>
                <p>
                    11. 1. 3 车站内设置在同一侧(端)的火灾事故风机、防排烟风机
                    及相关风阀等一级负荷,其供电电源应由该侧(端)双重电源自切
                    柜单回路放射式供电;当供电距离较长时,宜采用由变电所双重电
                    源直接供电,并应在最末一级配电箱处自动切换。
                </p>
                <p>
                    11. 1. 4 防火卷帘、活动挡烟垂壁、自动灭火系统等用电负荷较小
                    的消防用电设备,宜就近共用双电源自切箱采用放射式供电。
                </p>
                <p>
                    11. 1. 5 应急照明应由应急电源提供专用回路供电,并应按公共
                    区与设备管理区分回路供电。备用照明和疏散照明不应由同一分
                    支回路供电。
                </p>
                <p>
                    11.1. 6 消防用电设备作用于火灾时的控制回路,不得设置作用
                    于跳闸的过载保护或采用变频调速器作为控制装置。
                </p>
            </text>
            <text sub_title="11.2 应急照明">
                <p>11. 2. 1 变电所、配电室、环控电控室、通信机房、信号机房、消防</p>
                <p>Q 39.</p>
                <p>水泵房、事故风机房、防排烟机房、车站控制室、站长室以及火灾时</p>
                <p>仍需坚持工作的其他房间,应设置备用照明。</p>
                <p>11. 2. 2 车站公共区、楼梯或扶梯处、疏散通道、避难走道(含前</p>
                <p>室)、安全出口、长度大于20m的内走道、消防楼梯间、防烟楼梯间</p>
                <p>(含前室)、地下区间、联络通道应设置疏散照明。</p>
                <p>11. 2. 3 应急照明灯具宜设置在墙面或顶棚处。</p>
                <p>11. 2. 4 应急照明的照度应符合下列规定:</p>
                <p>1 车站疏散照明的地面最低水平照度不应小于3. 0 1x,楼梯</p>
                <p>或扶梯、疏散通道转角处的照度不应低于5. 0 1x;</p>
                <p>2 地下区间道床面疏散照明的最低水平照度不应小于3. 0 1x;</p>
                <p>.</p>
                <p>3 变电所、配电室、环控电控室、通信机房、信号机房、消防水</p>
                <p>泵房、车站控制室、站长室等应急指挥和应急设备设置场所的备用</p>
                <p>照明,其照度不应低于正常照明照度的50%;</p>
                <p>-</p>
                <p>4 其他场所的备用照明.,其照度不应低于正常照明照度</p>
                <p>的 10%。</p>
                <p>11.2.5 地下车站及区间应急照明的持续供电时间不应小于</p>
                <p>60min,由正常照明转换为应急照明的切换时间不应大于5s。</p>
            </text>
            <text sub_title="11.3 电线电缆的选择、敷设">
                <p>11. 3. 1 消防用电设备的电线电缆选择和敷设应满足火灾时连续</p>
                <p>供电的需要,所有电线电缆均应为铜芯。</p>
                <p>11. 3.2 地下线路敷设的电线电缆应采用低烟无卤阻燃电线电</p>
                <p>缆,地上线路敷设的电线电缆宜采用低烟无卤阻燃电线电缆。</p>
                <p>l1.3. 3 中压电缆宜采用耐火电缆。</p>
                <p>11.3. 4 消防用电设备的配电线路应采用耐火电线电缆,由变电</p>
                <p>所引至重要消防用电设备的电源主干线及分支干线,宜采用矿物</p>
                <p>绝缘类不燃性电缆。</p>
                <p>11. 3. 5 当电缆成束敷设时,应采用阻燃电缆,且电缆的阻燃级别</p>
                <p>不应低于B级,敷设在同一建筑内的电缆的阻燃级别宜相同。</p>
                <p>. 40 0</p>
            </text>
        </section>
        <section title="本标准用词说明">
            <text>
                <p>
                    l 为便于在执行本标准条文时区别对待,对要求严格程度不
                    同的用词说明如下:
                    1)表示很严格,非这样做不可的:
                    正面词采用&quot;必须&quot;,反面词采用&quot;严禁&quot;;
                    2)表示严格,在正常情况下均应这样做的:
                    正面词采用&quot;应&quot;,反面词采用&quot;不应&quot;或&quot;不得&quot;;
                    3)表示允许稍有选择,在条件许可时首先应这样做的:
                    正面词采用&quot;宜&quot;,反面词采用&quot;不宜&quot;;
                    4)表示有选择,在一定条件下可以这样做的,采用&quot;可&quot;。
                    2 条文中指明应按其他有关标准执行的写法为:&quot;应符合……
                    的规定&quot;或&quot;应按……执行&quot;。
                    . 41 .
                </p>
            </text>
        </section>
        <section title="引用标准名录">
            <text>
                <p>
                    《建筑设计防火规范》GB 50016
                    《自动喷水灭火系统设计规范》GB 50084
                    《建筑灭火器配置设计规范》GB 50140
                    《消防给水及消火栓系统技术规范》GB 50974
                </p>
            </text>
        </section>
    </article>

</body>
</html>